<ons-page>
	<ons-toolbar class="toolbar" modifier="android" inline ng-device-backbutton="backToUserDiscover()">
      <div class="left">
      </div>
      <div class="center">
          Welcome
      </div>
      <div class="right">
      </div>
  	</ons-toolbar>

	<div class="login-form">
      <img src="assets/img/logo.png" height="100px" width="100px">
      <h6>
      	Thank you for joining the Recipinoy community, {{ loggedUsername }}. You can now access all the features
		of this app. Enjoy the experience of sharing your own recipe.
      </h6>
  	</div>

  	<ons-bottom-toolbar style="background: transparent;margin-right: 20px">
                <ons-button ng-click="goToUserHomePage()" style="float:right!important"> Continue 
					         <ons-icon icon="ion-arrow-right-c"></ons-icon>
                </ons-button>
          
    </ons-bottom-toolbar>
</ons-page>