<ons-page>
<ons-toolbar class="toolbar" modifier="android">
          <div class="left">
              <ons-toolbar-button ng-click="back()">
                  <ons-icon icon="ion-arrow-left-c"></ons-icon>
              </ons-toolbar-button>
          </div>
          <div class="center">
             About
          </div>
    </ons-toolbar>


<div class="login-form" style="text-align: justified">
<img src="assets/img/logo.png" height="100px" width="100px">
<h3><b>About Us </b></h3>
  <p>We are Team Pixels who want to eat and explore the wide variety of Pinoy
Food Culture. We believe that apps are the most accessible tool for people like
us. So Let's Cook, Eat and Share..</p>
<p> For comments and suggestions, email us at PixelsCICT@gmail.com</p>
<br>
<h3><b>Disclaimer</b></h3>

  <p>Recipinoy is Developed by Team Pixels as their Thesis Project and does not have any affiliation
with the content providers.</p>

  <p>The total Calories of the Recipes are only "Estimated" based on the ingredients.</p>

  <p>All of the recipes belong to their respective copyright owners.  </p>
  
  <p>All the ingredient calories information belongs to the United States Department of Agriculture (USDA) and 
Team Pixels are not affiliated to them. Complying with all applicable copyright laws is the responsibility 
of the users. The names of the actual companies and products mentioned herein maybe the trademarks of their
respective owners.</p>
<br><br>
</div>
</ons-page>