<ons-dialog style="padding: 4%;height: 256px;width: 256px" var="noInternetDialog">
	<div class="login-form" style="margin-top: 5%">
		<img ng-src="assets/img/no-internet.png" height="100px" width="100px" alt="">
		<p style="font-weight: bold">You're currently offline. </p>
		<!-- <p style="font-size: 10px;">Please connect to the internet and try again</p> -->


		<ons-button ng-click="getMyRecipesOffline();" ng-show="loggedUsername">GO OFFLINE MODE</ons-button>
		<p ng-show="!loggedUsername" style="font-size: 0.50em !important">Registered users can only access offline recipes.</p>
		<br><br>
	</div>
</ons-dialog>
