<ons-dialog style="padding: 4%;height: 256px;width: 256px" var="onlineDialog" cancelable>
	<div class="login-form" style="margin-top: 5%"><br><br>
		<p style="font-weight: bold">Welcome Back. You're now online</p>
		<!-- <p style="font-size: 10px;">Please connect to the internet and try again</p> -->


		<ons-button ng-click="goBackToUserDiscover()" ng-show="loggedUsername">Go To Home</ons-button>
		<p style="font-size: 0.50em !important">Click outside this dialog to close.</p>
		<br><br>
	</div>
</ons-dialog>
